html,
body {
  height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  @extend %Montserrat-400;
  font-size: 16px;
  line-height: 1.4;
  color: $white;
  &.lock {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.title-accent {
  background-color: $blue;
  padding: 10px 15px;
  @extend %Montserrat-500, %uppercase;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-color: $blue;
    height: 2px;
    min-width: 100vw;
    right: 0;
    bottom: 0;
  }
}